<div class="container">

  <div class="card">
    <div class="card-header">

      <h3>Bisection Method</h3>

    </div>
    <div class="card-body">
      <!-- FORM -->
      <form [formGroup]="bisectionform" >
        <div class="row align-items-start">
          <div class="col-xs-3">
            <label>f(x)</label>
            <input type="text" class="form-control" formControlName="FX">
          </div>

          <div class="col-xs-1">
            <label>XL</label>
            <input class="form-control" formControlName="XL">
          </div>

          <div class="col-xs-1">
            <label>XR</label>
            <input class="form-control" formControlName="XR">
          </div>
        </div>
        <br/>
        <button class="btn btn-success" (click) = "run(bisectionform.value)"  >Calculate</button>
        <br/>
      </form>
      <br/>
       <!-- FORM -->


      <!-- Show Data -->
      <div class="container">
        <div class="row align-items-start">
          <h3 >f(x) : {{fx}} </h3>
          <div class="col">
            <h3 >XL : {{xl}}</h3>
          </div>
          <div class="col">
            <h3 >XR : {{xr}}</h3>
          </div>
          <div class="col">
            <h3>Result : {{result}}</h3>
          </div>
        </div>

      </div>
      <!-- Show Data -->


      <!-- Graph -->
      <div style="width: 90%;padding-left: 10%;">

        <canvas
          baseChart
          [type]="'line'"
          [legend]="true"
          [datasets]="chartData"
          [labels]="chartLabels"
          [options]="chartOptions"

        >
        </canvas>
      </div>


      <div style='padding-left: 45%;'>
        <h3>Iteration</h3>
      </div>
      <!-- Graph -->
    </div>

</div>







