<div class="container">
  <div class="card">
    <div class="card-header">
      <h3>Jacobi Iteration</h3>
    </div>
    <div class="card-body">
      <!-- FORM -->
      <form [formGroup]="jacobiform" >
        <div class="row align-items-start">
          <div class="col-xs-3">
            <label>f(x)</label>
            <input type="text" class="form-control" formControlName="FX">
          </div>

          <div class="col-xs-1">
            <label>X0</label>
            <input class="form-control" formControlName="X0">
          </div>

        </div>
        <br/>
        <button class="btn btn-success"  >Calculate</button>
        <br/>
      </form>
      <br/>
      <!-- FORM -->
      <!-- Show Data -->
      <div class="row align-items-start">
        <h3>f(x) : {{1}}</h3>
        <div class="col">
          <h3>X0 : {{1}}</h3>
        </div>
        <div class="col">
          <h3>Result : {{1}}</h3>
        </div>

      </div>
      <!-- Show Data -->

      <!-- Graph -->
      <div style="width: 90%;padding-left: 10%;">

        <!-- <canvas
          baseChart
          [type]="'line'"
          [legend]="true"
          [datasets]="chartData"
          [labels]="chartLabels"
          [options]="chartOptions"

        >
        </canvas> -->
      </div>


      <div style='padding-left: 45%;'>
        <h3>Iteration</h3>
      </div>
      <!-- Graph -->
    </div>

</div>
