<div class="sticky-top"></div>
<div class="container bg-gray text-white">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" routerLink="bisection">NUMERICAL METHOD</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <!-- Root of equation dropdown -->
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Root of equation
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" routerLink="bisection">Bisection Method</a>
            <a class="dropdown-item" routerLink="falseposiotion">False-Position Method</a>
            <a class="dropdown-item" routerLink="onepoint">One-Point Iteration</a>
            <a class="dropdown-item" routerLink="newton">Newton Raphson</a>
          </div>
        </li>
      </ul>
      <!-- Linear Algebra dropdown -->
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Linear Algebra
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" routerLink="cramer">Cramer's Rules</a>
            <a class="dropdown-item" routerLink="guass-seidel">Gauss-Seidel Iteration</a>
            <a class="dropdown-item" routerLink="jacobi">Jacobi Iteration</a>
          </div>
        </li>
      </ul>

    </div>
  </nav>

</div>
